<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Examples
  </h1>
 
</div>

<div>
  Single Page Application: <br><br> <hr>
  <a routerLink="dir">Directive</a> &nbsp;&nbsp;
  <a routerLink="rev">Review</a>  &nbsp;&nbsp;
  <a routerLink="pipes">InbuiltPipes</a>  &nbsp;&nbsp; <br>
  <hr> 
  <router-outlet></router-outlet>

</div>
<!--
<div class="review">
   <cts-rev></cts-rev>
</div>
<hr>


<div>
  <br>Example of Directives (they convert your html to super html.They add more featuers to simple html elements)
<ol>
  <li>*ngFor</li>
  <li>*ngIf</li>
  <li>*ngSwitch</li>
</ol>
<cts-directive></cts-directive>
</div>

-->
